html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 2rem;
  background: #fff;
  color: #000;
}

a {
  color: #c39;
}

main {
  margin: 2rem 0;
  text-align: center;
}

#game {
  border: 1px solid #333;
}

footer {
  text-align: center;
}

@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('fonts/8bits-webfont.woff2') format('woff2'),
         url('fonts/8bits-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
